antlr4-python3-runtime==4.13.2
anyio==4.15.1
black==26.3.1
certifi==2026.7.22
click==8.3.1
cocotb==2.0.1
colorama==0.4.6
find_libpython==0.5.1
git-me-the-url==2.2.0
gitdb==4.0.12
GitPython==3.1.46
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.20
Jinja2==3.1.6
Markdown==3.10.2
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
pcpp==1.30
peakrdl==1.5.0
peakrdl-cheader==1.0.0
peakrdl-cli==1.5.0
peakrdl-html==2.12.2
peakrdl-ipxact==3.5.0
peakrdl-regblock==1.2.0
peakrdl-systemrdl==1.0.1
peakrdl-uvm==2.4.0
pip==24.0
platformdirs==4.9.4
Pygments==2.21.0
python-markdown-math==0.9
pytokens==0.4.1
PyYAML==6.0.3
rich==13.9.4
smmap==5.0.3
systemrdl-compiler==1.32.2
typing_extensions==4.16.0
volare==0.20.6
zstandard==0.25.0
