Package                Version
---------------------- -------
antlr4-python3-runtime 4.13.2
black                  26.3.1
click                  8.3.1
cocotb                 2.0.1
colorama               0.4.6
find_libpython         0.5.1
git-me-the-url         2.2.0
gitdb                  4.0.12
GitPython              3.1.46
Jinja2                 3.1.6
Markdown               3.10.2
MarkupSafe             3.0.3
mypy_extensions        1.1.0
packaging              26.0
pathspec               1.0.4
peakrdl                1.5.0
peakrdl-cheader        1.0.0
peakrdl-cli            1.5.0
peakrdl-html           2.12.2
peakrdl-ipxact         3.5.0
peakrdl-regblock       1.2.0
peakrdl-systemrdl      1.0.1
peakrdl-uvm            2.4.0
pip                    24.0
platformdirs           4.9.4
python-markdown-math   0.9
pytokens               0.4.1
smmap                  5.0.3
systemrdl-compiler     1.32.2
typing_extensions      4.15.0
